body {

    background: black;
}

.container{

    text-align: center;
    margin: auto;
    padding: auto;
    width: auto;
    display: block;
}

.container button {
    
    border: none;
    border-radius: 10px;
    background: gray;
    padding: 10px;
    width: 16em;
    margin-bottom: 1px;
    margin-top: 5px;
    transition: 1.5ms;
    transition: ease-in-out 200ms;
}

.container button:hover {

    transform: scale(1.05);
    background: rgb(197, 197, 197);
}




.logo img{

   width: 30px;
   margin-right: 115em;
   margin-top: 12em;
            
 }

main{

    color: aliceblue;
    text-align: center;

}           

            